<aside>
	<div class="t60 panel radius">
	<h4>Netlabels.org Statistics</h4>
	<ul class="no-bullet">
		<li><a href="{{ site.url }}/releases/">Releases</a>: {% include count-collection-items collection='releases' %}</li>
		<li><a href="{{ site.url }}/netlabels/">Netlabels</a>: {% include count-collection-items collection='netlabels' %}</li>
		<li><a href="{{ site.url }}/reviews/">Reviews</a>: {% include count-collection-items collection='reviews' %}</li>
		<li><a href="{{ site.url }}/interviews/">Interviews</a>: {% include count-collection-items collection='interviews' %}</li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	</div>
</aside>