/* TOC – Color Variables

- Phlow Color Variables
- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/

/* Netlabels.org Color Variables
-------------------------------------------------------------------

- Dark Green #005e1d
- Light Green #cde2b9
- Green #86a20b
- #acca57
- #c7d217
- Yellow #ffdc00
- Ocher #ccaf00
- Blue #009ee4

*/

$netlabels-org-dark-green: #005e1d;
$netlabels-org-medium-green: #86a20b;
$netlabels-org-light-green: #cde2b9;





/* Phlow Color Variables
------------------------------------------------------------------- */


// Phlow Colors
$phlow-hell: #f5b6c9;
$phlow-mittel: #d4007a;
$phlow-dunkel: #900055;

$phlow-haupt-hell: #fabb00;
$phlow-haupt-mittel: #aa0132;
$phlow-haupt-dunkel: #4b4b4d;

// Phlow CI
// Hauptfarben
$phlow-dunkel-grau: #4b4b4d;
$phlow-dunkel-braun: #771e1e;
$phlow-rotbraun: #aa0132;
$phlow-orange: #fabb00;

// Netlabels
$phlow-dunkel-gruen: #00792c;
$phlow-mittel-gruen: #6a9519;
$phlow-hell-gruen: #acca57;

// Video
$phlow-dunkel-rot: #e05a10;
$phlow-mittel-orange: #f29400;
$phlow-hell-gelb: #ffe444;

// Seminare
$phlow-dunkel-blau: #005380;
$phlow-mittel-blau: #0085ba;
$phlow-hell-blau: #82cbd0;

// Webdesign
$phlow-dunkel-violett: #900055;
$phlow-mittel-mangenta: #d4007a;
$phlow-hell-pink: #f5b6c9;

// Journalismus
$phlow-dunkel-graubraun: #6b6351;
$phlow-mittel-graubraun: #aaa296;
$phlow-hell-graubraun: #e1dcd7;

// Grautöne
$phlow-grau-sehr-hell: #f0f0f0;
$phlow-grau-hell: #7e7e7e;
$phlow-grau-mittel: #4b4b4b;
$phlow-grau-dunkel: #323232;

/* Basics
------------------------------------------------------------------- */

$text-color:       	#111;
$body-font-color: 	$text-color;
$body-bg: 			#fdfdfd;



/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$ci-1: $netlabels-org-dark-green;
$ci-2: $netlabels-org-medium-green;
$ci-3: $netlabels-org-light-green;
$ci-4: $phlow-dunkel-rot;
$ci-5: $phlow-mittel-orange;
$ci-6: $netlabels-org-medium-green;



/* Grey Scale
------------------------------------------------------------------- */

$grey-1: #E4E4E4;
$grey-2: #D7D7D7;
$grey-3: #CBCBCB;
$grey-4: #BEBEBE;
$grey-5: #A4A4A4;
$grey-6: #979797;
$grey-7: #8B8B8B;
$grey-8: #7E7E7E;
$grey-9: #646464;
$grey-10: #575757;
$grey-11: #4B4B4B;
$grey-12: #3E3E3E;
$grey-13: #313131;
$grey-14: #242424;
$grey-15: #171717;
$grey-16: #0B0B0B;





/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color: $netlabels-org-dark-green;
$secondary-color: $grey-5;
$alert-color: $phlow-mittel-orange;
$success-color: $netlabels-org-dark-green;
$warning-color: $phlow-dunkel-rot;
$info-color: $phlow-dunkel-blau;



/* Topbar-Navigation
------------------------------------------------------------------- */

$topbar-bg-color: #fff;

$topbar-dropdown-toggle-color: $netlabels-org-medium-green;

$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;

$topbar-dropdown-label-color: $netlabels-org-dark-green;
$topbar-dropdown-link-bg-hover: $ci-6;

$topbar-link-bg-active: $netlabels-org-dark-green; // Active Navigation Link
$topbar-link-bg-hover: $ci-6;
$topbar-link-bg-active-hover: $netlabels-org-dark-green;


$topbar-dropdown-bg: $ci-6; // Background Mobile Navigation
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: $netlabels-org-dark-green;

$topbar-menu-link-color-toggled: $netlabels-org-dark-green;
$topbar-menu-icon-color-toggled: $netlabels-org-dark-green;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: $ci-6;
$topbar-menu-icon-color-toggled: $ci-6;



/* Footer
------------------------------------------------------------------- */

$footer-bg: $grey-8;
$footer-color: #fff;
$footer-link-color: $phlow-hell-gruen;


$subfooter-bg: $grey-13;
$subfooter-color: $grey-8;
$subfooter-link-color: $grey-8;



/* Code
------------------------------------------------------------------- */

$code-background-color: scale-color($secondary-color, $lightness: 70%);

$highlight-background: #ffffff;
$highlight-comment: #999988;
$highlight-error: #a61717;
$highlight-comment-special: #999999;
$highlight-deleted: #000000;
$highlight-error-2: #aa0000;
$highlight-literal-string: #d14;
$highlight-literal-number: #009999;
$highlight-name-attribut: #008080;
$highlight-error-background: #e3d2d2;
$highlight-generic-deleted: #ffdddd;
$highlight-generic-deleted-specific: #ffaaaa;
$highlight-generic-inserted: #ddffdd;
$highlight-generic-inserted-specific: #aaffaa;
$highlight-generic-output: #888888;
$highlight-generic-prompt: #555555;
$highlight-subheading: #aaaaaa;
$highlight-keyword-type: #445588;
$highlight-name-builtin: #0086B3;
$highlight-name-class: #445588;
$highlight-name-entity: #800080;
$highlight-name-exception: #990000;
$highlight-name-function: #990000;
$highlight-name-namespace: #555555;
$highlight-name-tag: #000080;
$highlight-text-whitespace: #bbbbbb;
$highlight-literal-string-regex: #009926;
$highlight-literal-string-symbol: #990073;
